*.bak.*
*.local.json
*.log
*.tsbuildinfo
.artifact
.cache/
.env
.log/slowtest/
.serverless
.temp
.terraform
.terraform.lock
.vscode
.yalc
coverage
dist
yalc.lock
node_modules
!.test*/**/node_modules
!.test*/**/node_modules/**
